::v-deep {
  caption{
    @extend .border-top;
  }

  .column-fit {
    width: 1%;
    white-space: nowrap;
  }

  .product-image {
    max-width: 5rem;

    img {
      object-fit: contain;
    }
  }
}