<head>

    {# Http-Tags #}
    {% block index_head_meta_http_tags %}
        <meta charset="UTF-8">
    {% endblock %}

    {% block index_head_meta_tags %}
        <meta name="author" content="shop"/>
        <meta name="robots" content="{% block index_head_meta_robots %}noindex,nofollow{% endblock %}"/>
        <meta name="revisit-after" content="15 days"/>
        <meta name="keywords" content="{% block index_head_meta_keywords %}{% endblock %}"/>
        <meta name="description" content="{% block index_head_meta_description %}{% endblock %}"/>
    {% endblock %}

    {% block index_head_meta_tags_schema_webpage %}
        <meta itemprop="copyrightHolder" content="shop"/>
        <meta itemprop="copyrightYear" content="2021"/>
        <meta itemprop="isFamilyFriendly" content="true"/>
        <meta itemprop="image" content="{{ asset('build/images/logo.svg') }}"/>
    {% endblock %}

    {% block index_head_meta_tags_mobile %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="retargeto">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
    {% endblock %}

    {# Set favicons and touch icons for all different sizes #}
    {% block index_head_favicons %}
        <link rel="apple-touch-icon" href="{{ asset('build/images/logo.svg') }}">
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}">
    {% endblock %}


    {# Android specifc meta tags #}
    {% block index_head_meta_tags_android %}
        <meta name="theme-color" content="#000000"/>
    {% endblock %}

    {# Canonical link #}
    {% block index_head_canonical %}{% endblock %}

    {# Page title #}
    <title itemprop="name">
        {% autoescape %}
            {% block index_head_title %}
                Shop
            {% endblock %}
        {% endautoescape %}
    </title>

    {# Stylesheets #}
    {% block index_head_stylesheets %}

        {# CSS #}
        {% block index_head_stylesheets_encore %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    {% endblock %}

    {# Print Stylesheets #}
    {% block index_head_css_print %}{% endblock %}

    {# Javascript libraries #}
    {% block index_javascript_lib %}{% endblock %}

    {# Javascript #}
    {% block index_head_javascript %}{% endblock %}
</head>