{% extends 'authentication/index.twig' %}

{% block authentication_page_card_body %}
    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Successfully
            registered!</h4>
        <p class="text-muted mb-4">You have been successfully registered with email
            <b>{{ email }}</b>, please check your email for activating your account and get back soon.</p>
    </div>
{% endblock %}

{% block authentication_page_card %}
    {{ parent() }}
    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-muted">Already activated?
                <a href="{{ path("authentication_login") }}" class="text-muted ml-1"><b>Log In</b></a>
            </p>
        </div>
    </div>
{% endblock %}